/*Scratch Coupon Card*/
.code-content {
    padding: 1px;
    background-color: #e4e1e1;
    height:283px;
}
.code-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}
.code-content .code-area img {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}
.code-content .txt-code {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 3px dotted #9a9696;
    position: relative;
    margin-top: 10px;
}
.code-content .code-area {
    text-align: center;
}
.code-content img.sc-copy {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.code-content .tooltip {
    display: inline-block;
}
.code-content  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.code-content .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.code-content .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*jquery.modal*/
.cyno-overlay {
	background: #333;
	opacity: 0.8;
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.cyno-modal {
	background: #fff;
	z-index: 1001;
	box-shadow: 3px 3px 20px #000;
}
.cyno-closeBtn {
	font: 16px sans-serif;
	padding: 4px 0px;
	color: #fff;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #000;
	border: 3px solid #fff;
	box-shadow: -3px 3px 5px #000;
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 1002;
}

